@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-primary: #636ae8;
  --color-white-1: #ffffff;
  --color-white-2: #f2f2fd;
  --color-white-3: #f3f4f6;
  --color-white-4: #f9fafb;
  --color-black-1: #323842;
  --color-black-2: #424955;
  --color-black-3: #171a1f;
  --color-gray-1: #bcc1ca;
  --color-gray-2: #565e6c;
  --color-gray-3: #6e7787;
  --color-gray-4: #9095a0;
  --color-gray-5: #dee1e6ff;
  --color-gray-6: #f8f9fad6;
  --color-gray-7: #fafafb;
  --color-red-1: #e8618c;
  --color-red-2: #de3b40;
  --color-red-3: #e3595d;

  /* Fonts */
  --font-logo: "Poppins", Arial, Helvetica, sans-serif;
  --font-display: "Archivo", Georgia, serif;
  --font-body: "Inter", Arial, sans-serif;

  /* Shadows */
  --shadow-light: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
}

html {
  scroll-behavior: smooth;
}
